---
layout: default
---

<div id="blog-link">
  <a href="{{ "/blog" | prepend: site.baseurl }}">
    <h4>posts</h4>
  </a>
</div>

<div class="jumbotron text-center">
  <div class="content">
    <h1>Less Is More</h1>
    <p>make technology your playground</p>
  </div>
</div>

<!-- about section -->
{% include about.html %}

<!-- profession section -->
{% include profession.html %}

<!-- experience section -->
{% include experience.html %}

<!-- project section -->
{% include project.html %}

<!-- playground section -->
{% include playground.html %}

<!-- contact section -->
{% include contact.html %}
