<div id="about" class="container-fluid text-center">
  <h2>About Me</h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <h4>Background</h4>
      <span class="label label-danger">Software Engineering</span>
      <span class="label label-warning">Computer Networking</span>
    </div>
    <div class="col-sm-4">
      <h4>Profession</h4>
      <span class="label label-danger">Software Engineer</span>
      <span class="label label-warning">Web Master</span>
      <span class="label label-warning">UX/UI Designer</span>
      <span class="label label-success">Network Administrator</span>
      <span class="label label-success">IT Support</span>
    </div>
    <div class="col-sm-4">
      <h4>Hobby</h4>
      <span class="label label-danger">Photography</span>
      <span class="label label-danger">Music</span>
      <span class="label label-danger">Soccer</span>
      <span class="label label-warning">Video Games</span>
      <span class="label label-warning">Board Game</span>
      <span class="label label-info">Shopping</span>
      <span class="label label-info">Food</span>
    </div>
  </div>
</div>
