<div id="contact" class="container-fluid text-center bg-grey">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>How To Find Me?</h2>
      <h4>feel free to buzz me</h4>
      <div class="flex-wrapper">
        <ul>
          <li>
            <a href="mailto:butageek@gmail.com" target="_blank"><img src="/img/social/email.png" alt="">
              <span>butageek@gmail.com</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/{{ site.github_username }}" target="_blank"><img src="/img/social/github.png" alt="">
              <span>https://github.com/butageek</span>
            </a>
          </li>
          <li>
            <a href="https://ca.linkedin.com/in/hendryzhou" target="_blank"><img src="/img/social/linkedin.png" alt="">
              <span>https://ca.linkedin.com/in/hendryzhou</span>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/+HendryZhou" target="_blank"><img src="/img/social/googleplus.png" alt="">
              <span>https://plus.google.com/+HendryZhou</span>
            </a>
          </li>
        </ul>
        <img src="/img/social/wechat.jpg" alt="">
      </div>
    </div>
  </div>
</div>
