<div id="contact" class="container-fluid text-center bg-grey">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Find Me</h2>
      <div class="flex-wrapper">
        <ul>
          <li>
            <a href="mailto:{{ site.email }}" target="_blank"><img src="/img/social/email.png" alt="">
              <span>{{ site.email }}</span>
            </a>
          </li>
          <li>
            <a href="{{ site.github_repo }}" target="_blank"><img src="/img/social/github.png" alt="">
              <span>{{ site.github_repo }}</span>
            </a>
          </li>
          <li>
            <a href="{{ site.linkedin_url }}" target="_blank"><img src="/img/social/linkedin.png" alt="">
              <span>{{ site.linkedin_url }}</span>
            </a>
          </li>
          <li>
            <a href="{{ site.googleplus_url }}" target="_blank"><img src="/img/social/googleplus.png" alt="">
              <span>{{ site.googleplus_url }}</span>
            </a>
          </li>
        </ul>
        <img src="/img/social/wechat.jpg" alt="">
      </div>
    </div>
  </div>
</div>
