<div id="contact" class="container-fluid text-center bg-grey">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Find Me</h2>
      <div class="flex-wrapper">
        <ul>
          <li class="wow animated rotateIn">
            <a href="mailto:{{ site.email }}" target="_blank"><img src="/img/social/email.png" alt="">
            </a>
          </li>
          <li class="wow animated rotateIn">
            <a href="{{ site.github_repo }}" target="_blank"><img src="/img/social/github.png" alt="">
            </a>
          </li>
          <li class="wow animated rotateIn">
            <a href="{{ site.bitbucket_repo }}" target="_blank"><img src="/img/social/bitbucket.png" alt="">
            </a>
          </li>
          <li class="wow animated rotateIn">
            <a href="{{ site.linkedin_url }}" target="_blank"><img src="/img/social/linkedin.png" alt="">
            </a>
          </li>
          <li class="wow animated rotateIn">
            <a href="{{ site.googleplus_url }}" target="_blank"><img src="/img/social/googleplus.png" alt="">
            </a>
          </li>
          <li class="wow animated rotateIn">
            <a href="/img/social/wechat.jpg" data-lightbox="wechat"><img src="/img/social/wechat.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
