<div id="experience" class="container-fluid text-center">
  <h2>My Background</h2>
  <div class="row">
    <div class="col-sm-12">
      <div class="timeline">
        <!-- exp-1 -->
        <div class="row event wow animated fadeInUp">
          <div class="col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-1.jpg" alt="" />
            </div>
          </div>
          <div class="col-sm-6 desc">
            <h3>Learnt Computer</h3>
            <p>Started to learn computer in elementary school.</p>
            <p>Took courses of computer such as
              <mark>MS-DOS</mark>,
              <mark>Windows 3.1</mark> and computer hardwares.</p>
          </div>
        </div>
        <!-- exp-2 -->
        <div class="row event reverse wow animated fadeInUp">
          <div class="col-xs-12 col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-2.jpg" alt="" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 desc">
            <h3>Started Programming</h3>
            <p>Focused on programming in high school.</p>
            <p>Developed softwares for fun and enterprise using
              <mark>FoxPro</mark> and
              <mark>Visual Basic</mark> to meet real world business needs.</p>
          </div>
        </div>
        <!-- exp-3 -->
        <div class="row event wow animated fadeInUp">
          <div class="col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-3.jpg" alt="" />
            </div>
          </div>
          <div class="col-sm-6 desc">
            <h3>Graduated</h3>
            <p>Graduated from university majored in
              <mark>Software Engineering</mark>.</p>
            <p>Played with different kinds of OS like
              <mark>Windows, Linux, Solaris</mark> and languages like
              <mark>C++, VB, C#, Java, HTML, CSS, JavaScript, Bash</mark>.</p>
          </div>
        </div>
        <!-- exp-4 -->
        <div class="row event reverse wow animated fadeInUp">
          <div class="col-xs-12 col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-4.jpg" alt="" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 desc">
            <h3>First Job</h3>
            <p>Worked as
              <mark>Network Administrator</mark>.</p>
            <p>Dealt with database, system, network, and company Intranet.</p>
            <p>Certified as a
              <mark>Network Administrator</mark>.</p>
          </div>
        </div>
        <!-- exp-5 -->
        <div class="row event wow animated fadeInUp">
          <div class="col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-5.jpg" alt="" />
            </div>
          </div>
          <div class="col-sm-6 desc">
            <h3>Second Job</h3>
            <p>Worked as
              <mark>Project Designer</mark> and
              <mark>Software Engineer</mark> in the second job.</p>
            <p>Developed design documentations, technical specifications, project plan, and schedule based on customer requirements.</p>
            <p>Built
              <mark>IaC</mark> and provided team members with reusable modules using
              <mark>C#, Python, HTML, CSS, JavaScript</mark>.</p>
            <p>Built testing environment using
              <mark>virtualization</mark> and
              <mark>open source</mark> tools</p>
          </div>
        </div>
        <!-- exp-6 -->
        <div class="row event reverse wow animated fadeInUp">
          <div class="col-xs-12 col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-6.jpg" alt="" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 desc">
            <h3>Third Job</h3>
            <p>Another
              <mark>Software Engineer</mark> job.</p>
            <p>Programmed and optimized inventory database system and built automated distributed deployment system.</p>
          </div>
        </div>
        <!-- exp-7 -->
        <div class="row event wow animated fadeInUp">
          <div class="col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-7.jpg" alt="" />
            </div>
          </div>
          <div class="col-sm-6 desc">
            <h3>Second Major</h3>
            <p>Graduated from college majored in
              <mark>Computer Networking</mark>.</p>
            <p>Enhanced knowledge of network protocols like
              <mark>TCP/IP</mark> and
              <mark>OSI</mark> together with devices like
              <mark>routers</mark> and
              <mark>switches</mark>.</p>
            <p>Played with different kinds of tools, frameworks, and libraries like
              <mark>Git, GitHub, Rails, Sass, Bootstrap, jQuery, AngularJS, Sublime Text, Atom</mark>.</p>
          </div>
        </div>
        <!-- exp-8 -->
        <div class="row event reverse wow animated fadeInUp">
          <div class="col-xs-12 col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-8.jpg" alt="" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 desc">
            <h3>Fourth Job</h3>
            <p>Worked as
              <mark>Web Developer</mark>.</p>
            <p>Built full stack websites using languages like
              <mark>Ruby, HTML, CSS (SCSS), JavaScript</mark> and frameworks/libraries like
              <mark>Rails, AngularJS, Vue.js, jQuery, Bootstrap</mark>.</p>
            <p>Designed website
              <mark>UX/UI</mark>.</p>
            <p>Managed
              <mark>Shared Hosting, VPS</mark> and
              <mark>SEO</mark>.</p>
          </div>
        </div>
        <!-- exp-9 -->
        <div class="row event wow animated fadeInUp">
          <div class="col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-9.jpg" alt="" />
            </div>
          </div>
          <div class="col-sm-6 desc">
            <h3>Fifth Job</h3>
            <p>Worked as
              <mark>IT Support</mark>.</p>
            <p>Programmed back-end data feeding processor for
              <mark>E-Commerce</mark> website in
              <mark>VBS</mark>.</p>
            <p>Deployed network, systems and services built on
              <mark>Virtualization</mark> technology as well as
              <mark>cloud-based</mark> environment.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
