<div id="experience" class="container-fluid text-center">
  <h2>My Background</h2>
  <div class="row">
    <div class="col-sm-12">
      <div class="timeline">
        <!-- exp-1 -->
        <div class="row event">
          <div class="col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-1.jpg" alt="" />
            </div>
          </div>
          <div class="col-sm-6 desc">
            <h3>Learnt Computer</h3>
            <p>Took courses of computer such as
              <mark>MS-DOS</mark>,
              <mark>Windows 3.1</mark> and computer hardwares in elementary school.</p>
          </div>
        </div>
        <!-- exp-2 -->
        <div class="row event reverse">
          <div class="col-xs-12 col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-2.jpg" alt="" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 desc">
            <h3>Started Programming</h3>
            <p>Built softwares on need by using languages such as
              <mark>FoxPro</mark> and
              <mark>Visual Basic</mark> to tackle real world business models in high school.</p>
          </div>
        </div>
        <!-- exp-3 -->
        <div class="row event">
          <div class="col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-3.jpg" alt="" />
            </div>
          </div>
          <div class="col-sm-6 desc">
            <h3>Graduated</h3>
            <p>Graduated from university majored in
              <mark>Software Engineering</mark>. Played with different kinds of OS like
              <mark>Windows, Linux, Solaris</mark> and languages like
              <mark>C++, C#, Java, JavaScript, Bash</mark>.</p>
          </div>
        </div>
        <!-- exp-4 -->
        <div class="row event reverse">
          <div class="col-xs-12 col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-4.jpg" alt="" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 desc">
            <h3>First Job</h3>
            <p>Got first job as
              <mark>Network Administrator</mark>. Dealt with system and network connectivity and security. Certified as a
              <mark>Network Administrator</mark>.</p>
          </div>
        </div>
        <!-- exp-5 -->
        <div class="row event">
          <div class="col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-5.jpg" alt="" />
            </div>
          </div>
          <div class="col-sm-6 desc">
            <h3>Second Job</h3>
            <p>Responsible for both roles as
              <mark>Software Engineer</mark> and
              <mark>Network Administrator</mark> in the second job.</p>
            <p>Built systems from
              <mark>CRM, CMS</mark> to
              <mark>E-Commerce</mark> using bunch of different tools and languages like
              <mark>C#, Python, HTML, CSS, JavaScript</mark>.</p>
            <p>Designed, deployed and maintained computer network and services like
              <mark>AD, DC, DHCP, DNS, VPN, IIS, FTP, Exchange, SharePoint</mark> based on
              <mark>Virtualization (VMware)</mark> platform.</p>
          </div>
        </div>
        <!-- exp-6 -->
        <div class="row event reverse">
          <div class="col-xs-12 col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-6.jpg" alt="" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 desc">
            <h3>Third Job</h3>
            <p>Another
              <mark>Network Administrator</mark> job. Maintained network and servers and also optimized network performance.</p>
          </div>
        </div>
        <!-- exp-7 -->
        <div class="row event">
          <div class="col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-7.jpg" alt="" />
            </div>
          </div>
          <div class="col-sm-6 desc">
            <h3>Second Major</h3>
            <p>Graduated from college majored in
              <mark>Computer Networking</mark>. Enhanced knowledge of network protocols like
              <mark>TCP/IP</mark> and
              <mark>OSI</mark> together with devices like
              <mark>routers</mark> and
              <mark>switches</mark>.</p>
          </div>
        </div>
        <!-- exp-8 -->
        <div class="row event reverse">
          <div class="col-xs-12 col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-8.jpg" alt="" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 desc">
            <h3>Fourth Job</h3>
            <p>Built websites as a
              <mark>Full Stack Developer</mark> using languages like
              <mark>Ruby, HTML, CSS (SCSS), JavaScript</mark> and frameworks/libraries like
              <mark>Rails, AngularJS, Vue.js, jQuery, Bootstrap</mark>.</p>
            <p>Managed
              <mark>Shared Hosting, VPS</mark> and
              <mark>SEO</mark>.</p>
          </div>
        </div>
        <!-- exp-9 -->
        <div class="row event">
          <div class="col-sm-6 my-badge">
            <div class="wrapper">
              <img src="/img/exp/exp-9.jpg" alt="" />
            </div>
          </div>
          <div class="col-sm-6 desc">
            <h3>Fifth Job</h3>
            <p>Mainly worked as
              <mark>Web Developer</mark> and also in a
              <mark>IT Support</mark> role. Programmed data processor for
              <mark>E-Commerce</mark> website in
              <mark>VBS</mark> while providing support for network, systems and services built on
              <mark>Virtualization (VMware vSphere, Hyper-V)</mark> technology.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
