<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-12">
      <div class="info-1">
        <small>
          <p>This site is hosted on <a href="https://github.com/butageek">GitHub</a></p>
          <p>Patches, suggestions and comments are welcome</p>
        </small>
      </div>
      <div class="info-2">
        <small>
          <p><a href="{{ site.url }}">butaGeek</a> is a place to share knowledge and technical solutions</p>
        </small>
      </div>
    </div>
  </div>
</div>
