<div id="profession" class="container-fluid text-center bg-grey">
  <h2>My Specialty</h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="wow animated fadeInUp">
        <span class="glyphicon glyphicon-edit logo-sm"></span>
        <h4>Project Design</h4>
        <p>Years of project design experience, from front-end UX/UI interaction to back-end infrustructure</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="wow animated fadeInUp">
        <span class="glyphicon glyphicon-globe logo-sm"></span>
        <h4>Web Development</h4>
        <p>Experienced in web development together with mobile device migration</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="wow animated fadeInUp">
        <span class="glyphicon glyphicon-th logo-sm"></span>
        <h4>Cross Platform Adaptation</h4>
        <p>Familiar with different OS, cross platform development and open source tools</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="wow animated fadeInUp">
        <span class="glyphicon glyphicon-cog logo-sm"></span>
        <h4>Environment Deployment</h4>
        <p>Experienced in production/development/testing environment deployment</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="wow animated fadeInUp">
        <span class="glyphicon glyphicon-cloud logo-sm"></span>
        <h4>CMS System Hosting</h4>
        <p>Familiar with popular CMS systms such as blog and forum, and their deployment and hosting</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="wow animated fadeInUp">
        <span class="glyphicon glyphicon-cog logo-sm"></span>
        <h4>Network/Server Management</h4>
        <p>Years of experience in network and server management, from deployment to maintenance</p>
      </div>
    </div>
  </div>
</div>
