<div id="project" class="container-fluid text-center bg-grey">
  <h2>Previous Projects</h2>
  <div class="row">
    <div class="col-sm-12">
      <div class="flex-wrapper">
        <div class="thumbnail wow animated fadeInUp">
          <img src="/img/project/universal.jpeg" alt="">
          <div class="overlay">
            <h4>eCommerce</h4>
            <a href="http://www.greatlighting.com/" target="_blank">browse site</a>
          </div>
        </div>
        <div class="thumbnail wow animated fadeInUp">
          <img src="/img/project/access.jpeg" alt="">
          <div class="overlay">
            <h4>IT Support</h4>
            <a href="http://www.access.on.ca/" target="_blank">browse site</a>
          </div>
        </div>
        <div class="thumbnail wow animated fadeInUp">
          <img src="/img/project/vw.jpeg" alt="">
          <div class="overlay">
            <h4>Auto Dealer</h4>
            <a href="http://www.qiche4s.cn/100044583/" target="_blank">browse site</a>
          </div>
        </div>
        <div class="thumbnail wow animated fadeInUp">
          <img src="/img/project/jiajia.jpeg" alt="">
          <div class="overlay">
            <h4>Real Estate Agent</h4>
            <a href="http://www.realmaster.ca/" target="_blank">browse site</a>
          </div>
        </div>
        <div class="thumbnail wow animated fadeInUp">
          <img src="/img/project/manutd.jpeg" alt="">
          <div class="overlay">
            <h4>Football Fan Forum</h4>
            <a href="http://www.mureds.com/" target="_blank">browse site</a>
          </div>
        </div>
        <div class="thumbnail wow animated fadeInUp">
          <img src="/img/project/jeteam.jpeg" alt="">
          <div class="overlay">
            <h4>Software Company</h4>
            <a href="http://www.jeteam.cn/" target="_blank">browse site</a>
          </div>
        </div>
        <div class="thumbnail wow animated fadeInUp">
          <img src="/img/project/word&brown.jpeg" alt="">
          <div class="overlay">
            <h4>Online Insurance</h4>
            <a href="http://www.wordandbrown.com/" target="_blank">browse site</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
