<div id="services" class="container-fluid text-center">
  <h2>What Can I Do?</h2>
  <h4>see if any meet your need</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo-sm"></span>
      <h4>Website Project</h4>
      <p>Being a full-stack developer, I can show you how wonderful your site can be</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-cloud logo-sm"></span>
      <h4>Website Host</h4>
      <p>Having your site hosted on my side, you can enjoy your coffee time</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-cog logo-sm"></span>
      <h4>SOHO Environment</h4>
      <p>Starting your own business? I can take care of the dirty work</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-plus logo-sm"></span>
      <h4>Hardware Supply</h4>
      <p>Yes, I do offer computer hardware and peripherals</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-ok logo-sm"></span>
      <h4>Techsupport</h4>
      <p>Not tech-savvy yourself? I can do the magic to make it work</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-question-sign logo-sm"></span>
      <h4>Technical Advice</h4>
      <p>Any questions about computer. You are always welcome</p>
    </div>
  </div>
</div>
