$primary-color: #00BCD4;
$seperator-color: #D3D7CF;
body {
  padding-top: 50px;
}
#blog-link {
  a {
    position: fixed;
    bottom: 25px;
    right: 15px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: $primary-color;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.3);
    width: 75px;
    height: 75px;
    z-index: 999;
    h4 {
      color: #fff;
      align-self: center;
    }
  }
}
#about,
#blog,
#blog-link,
#contact,
#experience,
#playground,
#profession,
#project {
  a {
    &,
    &:active,
    &:hover,
    &:visited {
      text-decoration: none !important;
    }
  }
}
#about,
#contact,
#experience,
#playground,
#profession,
#project {
  h2 {
    color: $primary-color;
    text-shadow: 3px 5px 5px rgba(0,0,0,0.3);
  }
}
.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container-fluid {
  padding: 50px;
}
.navbar-default {
  background-color: $primary-color;
  z-index: 9999;
  border: 0;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  .navbar-toggle {
    border-color: #ffffff;
    &:hover {
      background-color: #ffffff;
    }
    &:focus {
      background-color: #ffffff;
    }
    .icon-bar {
      background-color: #ffffff;
    }
    &:hover .icon-bar {
      background-color: $primary-color;
    }
    &:focus .icon-bar {
      background-color: $primary-color;
    }
  }
  .navbar-brand {
    color: #fff;
    &:focus,
    &:hover {
      color: #fff;
    }
  }
  .navbar-nav li a {
    color: #fff;
    &:focus,
    &:hover {
      color: $primary-color;
      background-color: #fff;
    }
  }
}
.jumbotron {
  position: relative;
  background-color: $primary-color;
  color: #ffffff;
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 200px;
  background-image: url("/img/header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &::before {
    position: absolute;
    content: "";
    display: block;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #21abc7;
  }
  .content {
    position: relative;
    h1 {
      text-shadow: 0 0 10px #fff;
    }
  }
}
.bg-grey {
  background-color: #F6F8F8;
}
.logo-sm {
  font-size: 50px;
  color: $primary-color;
}
#about .label {
  display: inline-block;
  font-size: 16px;
  margin: 3px;
}
#experience {
  .timeline {
    position: relative;
    &::before {
      background-color: $primary-color;
      bottom: 0;
      content: "";
      left: 50%;
      position: absolute;
      right: 50%;
      top: 0;
      width: 2px;
    }
    .event {
      margin-top: 50px;
      &.reverse {
        .my-badge {
          float: right;
        }
        .desc {
          text-align: right;
          h3 {
            &::before {
              left: auto;
              right: -11px;
            }
          }
        }
      }
      .my-badge {
        padding-left: 40px;
        padding-right: 40px;
        .wrapper {
          max-width: 250px;
          margin-left: auto;
          margin-right: auto;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .desc {
        text-align: left;
        padding-left: 40px;
        padding-right: 40px;
        h3 {
          margin-top: 0;
          &::before {
            background-color: #fff;
            border: 4px solid $primary-color;
            border-radius: 50%;
            content: "";
            height: 20px;
            width: 20px;
            top: 0;
            left: -9px;
            position: absolute;
          }
        }
      }
    }
  }
}
#project {
  .thumbnail {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 15px;
    max-width: 320px;
    min-width: 250px;
    border: none;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: auto;
      transition: all 0.4s linear;
    }
    &:hover img {
      transform: scale(1.2);
    }
    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: rgba(0,0,0,0.5);
      transition: all 0.4s ease-in-out;
      h4 {
        color: #fff;
        padding: 10px;
        position: relative;
        background: rgba(0,0,0,0.6);
        transform: translateY(-100px);
        transition: all 0.3s ease-in-out;
      }
      a {
        display: inline-block;
        color: #fff;
        border: 1px solid #fff;
        background-color: transparent;
        transition: all 0.2s ease-in-out;
        margin-top: 5%;
        padding: 7px 14px;
        &:hover {
          box-shadow: 0 0 5px #fff;
        }
      }
    }
    &:hover .overlay {
      opacity: 1;
    }
    &:hover h4 {
      transform: translateY(0);
    }
  }
}
#playground {
  .demo {
    a {
      position: relative;
      display: flex;
      justify-content: center;
      margin: 1px;
      background-color: $primary-color;
      padding: 10px;
      color: inherit;
      width: 120px;
      height: 120px;
      transition: all 0.2s linear;
      h4 {
        align-self: center;
        color: #fff;
        overflow: hidden;
      }
      &:hover {
        transform: scale(0.9);
      }
    }
  }
  .dev {
    img {
      height: 50px;
      width: auto;
      margin: 10px;
    }
  }
}
#contact {
  ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    li {
      padding: 5px;
      float: left;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  img {
    width: 200px;
    height: 200px;
  }
}
footer {
  .container-fluid {
    padding-top: 20px;
    border-top: 1px solid $seperator-color;
  }
  .info-1 {
    float: left;
  }
  .info-2 {
    float: right;
  }
}
#blog {
  .content {
    margin: 20px;
    padding: 10px;
    max-width: 270px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  }
}
#post {
  padding-top: 30px;
  .title {
    margin-bottom: 20px;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  #experience {
    .timeline {
      &::before {
        display: none;
      }
      .event {
        .desc {
          padding-top: 40px;
          text-align: center !important;
          h3::before {
            display: none;
          }
        }
      }
    }
  }
  #blog {
    .content {
      max-width: inherit;
      width: 100%;
    }
  }
}
