<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <header>
    {% include header.html %}
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    {% include footer.html %}
  </footer>

  <script type="text/javascript">
    $(document).ready(function() {
      $('[data-toggle="popover"]').popover()
    })
  </script>
  <script src="/js/lightbox.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script type="text/javascript">
    wow = new WOW({
      offset: 200
    });
    wow.init();
  </script>
</body>

</html>
